html {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #1e4040;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outergrid {
    display: grid;
    height: 100vh;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:  
    "alias-header alias-header"
    "alias-inner alias-inner";
}

.outergrid-expanded {
    grid-template-areas:  
    "alias-header alias-header"
    "alias-nav alias-inner";
}

.hide-nav {
    display: none;
}

.header {
    grid-area: alias-header;
    background-color: #1e4040;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #71d99e;
}

.left-header {
    display: flex;
    align-items: center;
}

.fa-bars {
    margin-right: 10px;
}

.fa-bars:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
}

.right-header {
    display: flex;
    align-items: center;
}

.header-link {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #71d99e;
}


.header-link i {
    font-size: 0.9rem;
}


.nav {
    grid-area: alias-nav;
}


.innergrid {
    overflow-y: scroll;
    grid-area: alias-inner;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 6%;
    grid-template-areas: 
    "alias-main"
    "alias-aside"
    "alias-footer";
}


.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
}

.nav {
    border-right: 1px rgba(0,0,0,0.1) solid;
}

.nav-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}


/*
----------------------------------------------
*/

main {
    grid-area: alias-main;
    padding: 20px 5%;
    line-height: 1.8rem;
}

main h1, main h2, main h3 {
    padding: 10px 0px;
}

main p {
    margin-bottom: 10px;
}


aside {
    grid-area: alias-aside;
    border-top: 1px rgba(0,0,0,0.1) solid;
    padding: 30px 30px;
    line-height: 1.8rem;
}

aside p {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    grid-area: alias-footer;
    background-color: #1e4040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

img {
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.2);
    max-width: 100%;
}

.collage-1, .collage-3 {
    width: 300px;
    height: 400px;
}

.collage-2 {
    width: 300px;
    height: 500px;
}

.collage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    height: 550px;
    align-items: center;
}

.collage * {
    grid-row-start: 1;
    grid-row-end: 6;
}

.collage-1 {
    grid-column: 1/3 ;
    z-index: 1;
    transform: rotate(-5deg);
}

.collage-2 {
    grid-column: 2/5;
    z-index: 2;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.5);
}

.collage-3 {
    grid-column: 4/6;
    z-index: 1;
    transform: rotate(5deg);
}



@media (min-width: 576px) {
    .outergrid {
        grid-template-areas:  
        "alias-header alias-header"
        "alias-nav alias-inner";
    } 
    
    .nav {
        display: block !important;
    }

    .fa-bars {
        display: none !important;
    }

    aside {
        border-top: none;
        border-left: 1px rgba(0,0,0,0.1) solid;;
    }

}

@media (min-width: 992px) {
    .innergrid {
        grid-template-columns: minmax(auto, 700px) 1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 
        "alias-main alias-aside"
        "alias-footer alias-footer";
    }    
}

@media (min-width: 1440px) {
    .header {
        justify-content: space-around;     
    }
}